
body{
    font-family: "Open Sans", sans-serif;
}
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    
 }
 .nav-title{
    font-size: 40px;
    font-weight: 800;
 }
 nav ul{
    display: flex;
    align-items: center;
    
 }
 /* share css */
 .secondary-bg{
    background-color: #FFF8F3;
 }
 .primary{
    color: #FD6E0A;
 }
 .color-2{
    color:rgb(71, 71, 71);
 }
 nav ul li{
    list-style: none;
    margin-left: 20px;

 }
 nav ul li a {
    text-decoration: none;
    font-size: 30px;
 }
 
 .btn{
    background-color: #FD6E0A;
    padding: 18px 35px ;
    font-size: 20px;
    border-radius: 5px ;
    font-weight: bold;
    color: white;
    border: none;
 }
 .text-center{
    text-align: center;
 }
 
 /* header */
 .header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
 /* banner */
 .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
 }
 .banner-container{
    max-width: 580px;
    margin-top: 152px;
 }
 .banner-first{
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
 }
 .banner-title{
    font-weight: bold;
    font-size: 70px;
 }
 .banner-description{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 27px;
    
 }
 .banner-profile{
    width: 584px;
 }
/* Main area */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 40px;
    margin-bottom: 120px;
}
.about-title{
    font-size: 35px;
    font-size: 35px;
    font-weight: 700;

}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
   
    display: flex;
    justify-content: space-around;
}
.about-discription{
    font-size: 18px;
    font-weight: 400;
}

.item-discription{
    font-weight: bold;
}
/* Skill area */
.skill-container{
    display: flex;
    gap: 24px;
    margin-top: 60px;
   
}
.skill{
    border-radius: 5px;
    padding: 33px;
    border-radius: 5px;
    /* box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06); */
    box-shadow: 0px 6px 50px 0px #bfb3b3;
    background: rgb(255, 255, 255);
}
.skill-discription{
    font-size: 16px;
}
/* qualification area */
.qualification-container{
    display: flex;
    grid: 24px;
    padding-top: 60px;

}
.qualification-column-title{
   font-size: 25px  ;
}
.experience-discription{
   font-size: 14px;
}
.experience-sub-title{
   color: rgb(117, 117, 117);
   font-size: 15px;
   font-weight: bold;
}
.qualification-container hr{
   margin: 10px 50px 10px 0px;
}
.qualification-cv{
   margin-top: 50px;
}
/* footer area */
.footer-section{
   display: flex;
   padding: 130px 230px;
   gap: 30px;
}
.footer-left{
 font-size: 14px;
}